@charset "utf-8";/* Author: Jason Almeida */




.back {
  text-align: right;
}

.gototop {
  text-align: center;
}

img.download_symbol {
  height:15px;
  width:15px;
}

.media_heading {
  text-align:left;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px, 1px, 5px;
  margin: 5px;
}

.media_all {
  margin: 5px 15%;
  padding: 15px;
  align-content: center;
}

body a:visited
{
	color:#bb0000;
}