---
title: Jim W. Davis
---

<!--author: Danielle Beckley-->
<h1>Media and Press</h1>

<div class="media_all">
	<!--Table created from information on Jim Davis' Original website, ordered chronologically -->
	<h3 class="media_heading">Television and Video</h3>
	<ul>
		<li><strong>NPR </strong>(WOSU) Interview on "All Sides with Ann Fisher" (aired live 01/20/15)<br></li>
		<li><strong>NPR </strong>(WOSU) Interview on "All Sides with Ann Fisher" (aired live 07/03/14)<br></li>
		<li><strong>iMix </strong>, Big10 TV Network, "Smart Surveillance" (initially aired 7/28/09)<br></li>
		<li><strong>10TV news </strong>(CBS), "Smart Technology Being Used at Ohio State" (Aired 07/17/09)<br></li>
		<li><strong>OSU Video</strong>, "Better Eyes" (released January 9, 2009)<br></li>
		<li><strong>OSU Video</strong>, "'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08)<br></li>
		<li><strong>Frontline</strong>: "Spying on the Home Front" (Aired 05/15/07)<br></li>
		<li><strong>Fox-28/ABC-6 News</strong>, "They're Watching You" (Aired 05/10/04)<br></li>
		<li><strong>Fox-28/ABC-6 News</strong>, Interview on thermal technology (Aired 05/08/03, 05/09/03)<br></li>
		<li><strong>NBC-4 News</strong>, (aired 05/09/03)<br></li>
		<li><strong>CBS-10 News</strong>, (aired 05/04/03)<br></li>
		<li><strong>OSU Video</strong>,"Researcher developing video technology for surveillance: Cameras being trained to `see' people and recognize their activities" (released 04/30/03)</li>
	</ul>

	<!--Table created from information on Jim Davis' Original website, ordered chronologically -->
	<h3 class="media_heading">Radio </h3>
	<ul>
		<li><strong>NPR</strong> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 01/20/15)<br></li>
		<li><strong>NPR</strong> (WOSU) Interview on "All Sides with Ann Fisher" (aired live 07/03/14)<br></li>
		<li><strong>AAAS Science Update radio feature</strong>, "Internet Video: A new technology could make watching video on the Internet less frustrating" (aired January 12, 2005) <a href= "http://web.cse.ohio-state.edu/~jwdavis/Media/16-InternetVideoStory.mp3">["Audio Clip"]</a>
	</ul>

  <!--Table created from information on Jim Davis' Original website, ordered chronologically
  Link to select articles available for download by selecting download icon to the right of article information.
  Link to article online available for select articles available to right.
  -->
  <h3 class="media_heading"> Print Sources</h3>
  <ul>
	  <li><strong>Security Dealer & Integrator</strong>, "Eye on Troublesome Patterns," May 25, 2011
      <a href="PDF/SDI-2011.pdf"><img class="download_symbol" src="images/download.png"> </a><br></li>
	  <li><strong>Popular Mechanics</strong>, "PM's Guide to the Best in Home Surveillance Gear," April 6, 2011
  	<a href= "http://www.popularmechanics.com/technology/gadgets/reviews/a6546/pms-guide-to-the-best-in-home-surveillance-gear">[Online Article]</a>
  	<a href="PDF/PM-2011.pdf"> <img class="download_symbol" src="images/download.png"></a><br></li>
	  <li><strong>The Why Files: the Science Behind the News</strong>, "Video Surveillance: Who is Watching You, and Why," March 11, 2010
	  <a href="http://whyfiles.org/323cyberspies/index.php?g=2.txt">[Online Article]</a><br></li>
	  <li><strong>Electrical Contractor magazine</strong>, "Surveillance with Smarts," February 2010, p. 50
  	<a href="http://www.ecmag.com/section/miscellaneous/security-focus-surveillance-smarts">[Online Article]</a><br></li>
	  <li><strong>OSU Alumni Magazine</strong>, Research Report Article, "Eye in the Sky", May/June, 2009, page 30
	  <a href="PDF/alumni09.pdf"><img class="download_symbol" src="images/download.png"> </a><br></li>
		<li><strong>OSU News In Engineering Research Update article</strong>, "Intelligent Surveillance Could Aid Law Enforcement", Vol. 81, No. 1, 2009
		<a href="PDF/OSU_nie811.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
		<li><strong>SPIE Newsroom</strong>: Electronic Imaging & Signal Processing, "A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery" (	February 25, 2009)
		<a href="http://spie.org/x33833.xml?highlight=x2410&ArticleID=x33833">[Online Article]</a>
		<a href="PDF/SPIE09.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
		<li><strong>Photonics Spectra</strong>, Tech News, "Neighborhood Watch, Sans Neighbors" (February, 2009; pp. 18-20)
		<a href="PDF/PhotonicsSpectra09.pdf"><img class="download_symbol" src="images/download.png"> </a><br></li>
		<li><strong>MSNBC</strong>, Technology & Science, "Computer has eye for Suspicious Behavior" (January 26, 2009)
		<a href= "http://www.nbcnews.com/id/28566179/">[Online Article]</a>
		<a href="PDF/MSNBC-09.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
		<li><strong>Columbus Dispatch</strong>, "Computers Might Spot People up to no Good" (January 24, 2009)
		<a href="http://www.dispatch.com/content/stories/local/2009/01/24/cameras.ART_ART_01-24-09_B4_5ICLMCL.html">[Online Article]</a>
		<a href="PDF/dispatch09.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
		<li><strong>onCampus</strong>, Discovery Briefs, "'Smart' Surveillance System May Tag Suspicious or Lost People" (January 8, 2009)
		<a href="PDF/onCampus-09.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
		<li><strong>UWeekly </strong>"Big Brother No, Smart Camera Yes" (February 18, 2009)
		<a href="PDF/UWeekly-09.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
		<li><strong>The Lantern</strong>, "Under Surveillance" (January 27, 2009)
		<a href="file:///Users/Owners/Desktop/Project%204/PDF/Lantern09surveillence.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
		<li><strong>The Lantern</strong>, "'Smart' Cameras are Watching You" (January 9, 2009)
		<a href="PDF/Lantern09smart.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
		<li><strong>OSU News Release</strong>, "'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08)
		<a href="http://researchnews.osu.edu/archive/surveillance/index.htm">[Online Article]</a>
		<a href="PDF/OSU-press-08-print.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
  	<li><strong>The Economist</strong>, Science & Technology section, "Surveillance Technology: If Looks Could Kill", October 23, 2008
	  <a href="PDF/TheEconomist08.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
	  <li><strong>OSU CSE Newletter</strong>, Focus on Research Article, "Jim Davis: Vision for the Future of Surveillance", Autumn 2007, pages 2-3
  	<a href="PDF/OSU_CSE_Newsletter.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
  	<li><strong>OSU Alumni Magazine</strong>, Research Report Article, "Watch the Hands and Face", May/June, 2005, page 8
  	<a href="PDF/OSU_AM_05.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
  	<li><strong>OSU News In Engineering </strong> Research Update article, "Advancing Technologies for Internet Video", Vol. 77, No. 1, Spring 2005
  	<a href="PDF/OSU_NIE_05.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
  	<li><strong>ACM TechNews Feature</strong>, "Researchers Find Way to Make Internet Video More Appealing", Vol. 6, Issue 734, December 22, 2004
  	<a href="http://technews.acm.org/ ">[Online Article]</a>
  	<a href="PDF/ACMNewsService04.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
  	<li><strong>OSU News Release</strong>, "Researchers find way to make internet video more appealing" (released 12/21/04)
	  <a href="http://researchnews.osu.edu/archive/facevid.htm">[Online Article]</a><br></li>
  	<li><strong>Homeland Security & Defense</strong>, "HSARPA seeking video software technology to interpret complex surveillance stream", Vol. 3, No. 16, April 21, 2004
	  <a href="PDF/HSA04.pdf"><img class="download_symbol" src="images/download.png"></a><br></li>
	  <li><strong>Columbus Business First</strong>, Tech Now feature article, "Hot on Surveillance: Thermal technology grows in popularity, importance in post-911 world", Vol. 20, No. 7, Oct. 17, 2003
    <a href="PDF/CbusFirst03.pdf"><img class="download_symbol" src="images/download.png"></a></li>
  </ul>

  <!--a link to go to top-->
  <div class="gototop"><a href="#top">Go to top</a></div>
</div>
